*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);

  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
  --Moderate-gray: hsl(0, 0%, 85%);
  --Light-gray: hsl(0, 0%, 95%);

  --Bar-percentaje: 89.9%;
  --Modal-overlay: hsl(0, 0%, 0%, 0.55);
}

body {
  font-family: "Commissioner", sans-serif;
  background-color: var(--Light-gray);
}

.button-menu,
.heading__button,
.model__get,
.modal-pledge__closebutton,
.modal-success__button,
.pledge__expandable-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.button--primary,
.button--bookmark,
.modal-pledge__closebutton {
  @media screen and (min-width: 1024px) {
    &:hover {
      cursor: pointer;
    }
  }
}
