*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
  --Moderate-gray: hsl(0, 0%, 85%);
  --Light-gray: hsl(0, 0%, 95%);
  --Bar-percentaje: 89.9%;
  --Modal-overlay: hsl(0, 0%, 0%, 0.55);
}

body {
  font-family: "Commissioner", sans-serif;
  background-color: var(--Light-gray);
}

.button-menu,
.heading__button,
.model__get,
.modal-pledge__closebutton,
.modal-success__button,
.pledge__expandable-button {
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .button--primary:hover,
.button--bookmark:hover,
.modal-pledge__closebutton:hover {
    cursor: pointer;
  }
}

.header {
  background-image: url("../assets/images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vw;
  padding-top: 2.1em;
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: url("../assets/images/image-hero-desktop.jpg");
    height: 28vw;
    background-size: contain;
    padding-top: 2.2em;
  }
}

.main-nav {
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-nav--show {
  z-index: 3;
}
@media screen and (min-width: 1024px) {
  .main-nav {
    padding: 0 10em;
  }
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.menu {
  list-style: none;
  padding-left: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.menu__link {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 1.22em 0 1.22em 1.5em;
}
@media screen and (max-width: 767px) {
  .menu {
    background-color: white;
    border-radius: 8px;
    width: 88%;
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu__item:not(:last-child) {
    border-bottom: 1px solid var(--Light-gray);
  }
  .menu__link {
    width: 100%;
  }
  .menu--hide {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 0.9rem;
  }
  .menu__link {
    color: white;
    padding: 0;
  }
}

.main-content {
  position: relative;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  top: -55px;
  max-width: 724px;
}
@media screen and (min-width: 768px) {
  .main-content {
    top: -92px;
  }
}

.heading,
.stats,
.article {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 1.8em;
  padding: 2.3em 1.5em;
}
@media screen and (min-width: 768px) {
  .heading,
.stats,
.article {
    padding: 2.9em 2.5em;
  }
}

.heading__button,
.model__get {
  padding: 0;
}

.button--primary {
  color: white;
  background-color: var(--Moderate-cyan);
  font-weight: 700;
  padding: 1.2em 0;
  width: 100%;
  max-width: 218px;
  border-radius: 1.7em;
}
@media screen and (min-width: 1024px) {
  .button--primary:hover {
    background-color: var(--Dark-cyan);
  }
}

.button--bookmark {
  border-radius: 28px;
  background-color: var(--Light-gray);
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 767px) {
  .button--bookmark {
    overflow: hidden;
    width: 56px;
    height: 56px;
  }
}
.button--bookmark-pressed {
  color: var(--Dark-cyan);
}
.button--bookmark-pressed::after {
  display: block;
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
  background-color: var(--Moderate-cyan);
  opacity: 0.7;
}

.button--disabled {
  background-color: var(--Dark-gray);
}
.button--disabled:hover {
  cursor: default;
  background-color: var(--Dark-gray);
}

.heading {
  text-align: center;
}
.heading__img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.heading__title {
  font-size: 1.27rem;
  margin-bottom: 1em;
  padding: 0 0.2em;
}
@media screen and (min-width: 768px) {
  .heading__title {
    font-size: 1.75rem;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }
}
.heading__subtitle {
  font-size: 0.8rem;
  color: var(--Dark-gray);
  line-height: 1.8;
  margin-bottom: 1.8em;
}
@media screen and (min-width: 768px) {
  .heading__subtitle {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 2.2em;
  }
}
.heading__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
.heading__icon-bookmark {
  vertical-align: middle;
}
.heading__button-text {
  padding-left: 1em;
  padding-right: 1em;
}

.stats__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 290px;
}
@media screen and (min-width: 768px) {
  .stats__data {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 7em;
    height: auto;
  }
}
.stats__number {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .stats__number--bars {
    padding-right: 1.4em;
  }
}
.stats__number--bars::before, .stats__number--bars::after {
  content: "";
  position: absolute;
}
@media screen and (max-width: 767px) {
  .stats__number--bars::before, .stats__number--bars::after {
    width: 25%;
    border-top: 1px solid var(--Dark-gray);
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 768px) {
  .stats__number--bars::before, .stats__number--bars::after {
    width: 0;
    height: 100%;
    border-left: 1px solid var(--Dark-gray);
  }
}
.stats__number--bars::before {
  top: -25px;
}
@media screen and (min-width: 768px) {
  .stats__number--bars::before {
    top: 0;
    left: -1.7em;
  }
}
.stats__number--bars::after {
  bottom: -25px;
}
@media screen and (min-width: 768px) {
  .stats__number--bars::after {
    top: 0;
    right: -1.7em;
  }
}
.stats__description {
  display: block;
  color: var(--Dark-gray);
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.8em;
}
.stats__bar {
  position: relative;
  height: 12px;
  border-radius: 6px;
  background-color: var(--Light-gray);
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .stats__bar {
    margin-top: 2.35em;
  }
}
.stats__bar::after {
  content: "";
  position: absolute;
  height: 12px;
  border-radius: 6px;
  width: var(--Bar-percentaje);
  max-width: 100%;
  background-color: var(--Moderate-cyan);
  left: 0;
}

.article__description,
.model__description {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--Dark-gray);
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.article {
  padding-bottom: 1em;
}
.article__title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1.2em;
}
@media screen and (min-width: 768px) {
  .article__title {
    font-size: 1.3rem;
    margin-bottom: 1.7em;
  }
  .article__description {
    font-size: 1.06rem;
    line-height: 1.8;
    margin-bottom: 1.7em;
  }
  .article__description:last-of-type {
    margin-bottom: 0.7em;
  }
}

.model {
  border: 1px solid var(--Moderate-gray);
  border-radius: 8px;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
@media screen and (min-width: 768px) {
  .model {
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-bottom: 1.6em;
  }
}
.model__title, .model__price {
  font-size: 0.85rem;
}
.model__title {
  margin: 0;
}
.model__price {
  color: var(--Moderate-cyan);
  font-weight: 700;
  margin-bottom: 1.8em;
}
@media screen and (min-width: 768px) {
  .model__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
  }
  .model__title {
    font-size: 1.15rem;
  }
  .model__price {
    margin: 0;
  }
  .model__description {
    font-size: 1rem;
    line-height: 1.9;
  }
}
.model__footer, .model__left {
  display: flex;
}
.model__footer {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .model__footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.model__left {
  align-items: center;
  gap: 0.6rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}
.model__left-text {
  color: var(--Dark-gray);
  font-size: 1rem;
  font-weight: 400;
}
.model__get {
  padding: 1.12em 0;
  font-size: 0.9rem;
  border-radius: 1.6em;
  max-width: 160px;
}
.model--disabled {
  opacity: 0.5;
}

.modal-pledge,
.modal-success {
  background-color: white;
  border-radius: 8px;
  width: 88%;
  position: absolute;
  left: 50%;
  padding: 2.3em 1.5em;
}

.modal-pledge {
  transform: translateX(-50%);
  top: 8.7em;
  padding-top: 2em;
  font-size: 0.9rem;
}
.modal-pledge__description {
  color: var(--Dark-gray);
}
.modal-pledge__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6em;
}
.modal-pledge__title {
  margin: 0;
  font-size: 1.2rem;
}
.modal-pledge__description {
  margin-bottom: 1.9em;
}
@media screen and (min-width: 768px) {
  .modal-pledge {
    top: 12.9em;
    max-width: 724px;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .modal-pledge__header {
    margin-bottom: 1.3em;
  }
  .modal-pledge__title {
    font-size: 1.55rem;
    margin-top: 0.8em;
  }
  .modal-pledge__description {
    margin-bottom: 2.6em;
  }
}
.modal-pledge__closebutton {
  filter: opacity(0.6);
}
@media screen and (min-width: 1024px) {
  .modal-pledge__closebutton:hover {
    filter: none;
  }
}

.modal-pledge__description,
.pledge__description {
  line-height: 1.7;
}

.pledge {
  border: 1px solid var(--Moderate-gray);
  border-radius: 8px;
  padding: 1.5em 0;
  color: var(--Dark-gray);
  margin-bottom: 1.7em;
}
@media screen and (min-width: 768px) {
  .pledge {
    padding: 1.9em 0 0;
  }
}
.pledge__fixed, .pledge__expandable {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.pledge__fixed {
  position: relative;
  margin-bottom: 1.8em;
}
.pledge__controls {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .pledge__controls {
    margin-bottom: 1em;
  }
}
.pledge__radio {
  -webkit-appearance: none;
          appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--Moderate-gray);
}
.pledge__radio:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--Moderate-cyan);
  border-radius: 50%;
  top: 5px;
  left: 5px;
}
@media screen and (min-width: 1024px) {
  .pledge__radio:hover:not([disabled]) {
    border-color: var(--Moderate-cyan);
    cursor: pointer;
  }
}
.pledge__label {
  color: black;
  font-weight: 700;
  font-size: 0.85rem;
}
.pledge__label--light {
  display: block;
  color: var(--Moderate-cyan);
  margin-top: 1em;
}
@media screen and (min-width: 768px) {
  .pledge__label--light {
    display: initial;
    margin-left: 1em;
  }
}
@media screen and (min-width: 768px) {
  .pledge__label {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .pledge__label:hover {
    color: var(--Moderate-cyan);
    cursor: pointer;
  }
  .pledge__label--disabled:hover {
    color: initial;
    cursor: default;
  }
}
.pledge__description {
  margin-bottom: 1.6em;
}
@media screen and (min-width: 768px) {
  .pledge__description {
    padding-left: 3em;
    margin-top: 0;
    line-height: 2.1;
  }
}
.pledge__left {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
}
.pledge__left--small {
  margin-left: 0.4em;
  color: var(--Dark-gray);
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .pledge__left {
    position: absolute;
    top: 0;
    right: 1.5em;
    margin: 0;
  }
}
.pledge__expandable, .pledge__expandable-controls {
  display: flex;
  align-items: center;
}
.pledge__expandable {
  border-top: 1px solid var(--Moderate-gray);
  height: 119px;
  transition: height 0.3s;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5em;
}
.pledge__expandable-controls {
  justify-content: center;
  gap: 1em;
  position: relative;
}
.pledge__expandable-controls::before {
  content: "$";
  position: absolute;
  left: 2em;
}
.pledge__expandable-button {
  padding: 1.08em 0;
  border-radius: 1.7em;
}
.pledge__expandable-input {
  width: 80%;
  padding: 1em 0;
  border-radius: 1.7em;
  border: 1px solid var(--Moderate-gray);
  outline: none;
  padding-left: 3em;
  font-weight: 700;
}
.pledge__expandable-input:focus {
  border-color: var(--Moderate-cyan);
}
@media screen and (min-width: 1024px) {
  .pledge__expandable-input:hover {
    border-color: var(--Moderate-cyan);
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .pledge__expandable {
    flex-direction: row;
    justify-content: space-between;
    height: 96px;
  }
}
.pledge__expandable--hide {
  border-top-color: transparent;
  height: 0;
  overflow: hidden;
}
.pledge--selected {
  border-width: 2px;
  border-color: var(--Moderate-cyan);
}
.pledge--disabled {
  opacity: 0.5;
}

.modal-success {
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.modal-success__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-success__title {
  font-size: 1.25rem;
  margin-bottom: 1em;
}
.modal-success__paragraph {
  font-size: 0.9rem;
  color: var(--Dark-gray);
  line-height: 1.8;
  margin-bottom: 1.9em;
}
.modal-success__button {
  padding: 1em 0;
  border-radius: 1.6em;
  max-width: 110px;
}
@media screen and (min-width: 768px) {
  .modal-success {
    max-width: 540px;
    padding-top: 3.1em;
    padding-bottom: 3.1em;
  }
  .modal-success__image {
    width: 88px;
    margin-bottom: 3.1em;
  }
  .modal-success__title {
    font-size: 1.55rem;
    margin-bottom: 0.6em;
  }
  .modal-success__paragraph {
    line-height: 2.1;
    margin-top: 0;
    margin-bottom: 2em;
  }
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--Modal-overlay);
  top: 0;
  left: 0;
}

.modal--hide {
  display: none;
}

.body-overflow--hide {
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .body-overflow--hide {
    padding-right: 15px;
  }
}