include ../mixins/menu-item
header.header
  nav.main-nav
    img.logo(src="assets/images/logo.svg", alt="logo")
    button.button-menu(type="button" aria-pressed="false" aria-label="menu button" aria-expanded="false")
      img.button-menu__image(src="assets/images/icon-hamburger.svg", alt="")
    ul.menu.menu--hide
      +menu-item("About")
      +menu-item("Discover")
      +menu-item("GetStarted")
