main.main-content
  .heading
    img.heading__img(src="assets/images/logo-mastercraft.svg" alt="")
    h1.heading__title Mastercraft Bamboo Monitor Riser
    p.heading__subtitle A beautiful & handcrafted monitor stand to reduce neck and eye strain.
    .heading__controls
      button.heading__button.button--primary(type="button") Back this project
      button.heading__button.button--bookmark(type="button" aria-label="bookmark")
        img.heading__icon-bookmark(src="assets/images/icon-bookmark.svg" alt="")
        span.heading__button-text Bookmark
        
  .stats
    .stats__data
      p.stats__number $89,914
        span.stats__description of $100,000 backed
      p.stats__number.stats__number--bars 5,007
        span.stats__description total backers
      p.stats__number 56
        span.stats__description day left
    .stats__bar
  include article
