main.main-content
  .heading
    img.heading__img(src="assets/images/logo-mastercraft.svg" alt="")
    h1.heading__title Mastercraft Bamboo Monitor Riser
    p.heading__subtitle A beautiful & handcrafted monitor stand to reduce neck and eye strain.
    .heading__controls
      button(type="button") Back this project
      button(type="button") BookMark
  .stats
    p.stats__number $89,914
      span.stats__description of $100,000 backed
    p.stats__number 5,007
      span.stats__description total backers
    p.stats__number 56
      span.stats__description day left
  include article
