- const pledgeOptions = [{radioName: "noreward", type:"Pledge with no reward", description:"Choose to support us without a reward if you simply believe in our project. As a backer, you will be signed up to receive product updates via email.", pledgeAmount:"15"},{radioName: "bamboo", type:"Bamboo Stand", description:"You get an ergonomic stand made of natural bamboo. You've helped us launch our promotional campaign, and you’ll be added to a special Backer member list.", pledgeAmount:"25", unitLeft:"101"},{radioName: "black-edition", type:"Black Edition Stand", description:"You get a Black Special Edition computer stand and a personal thank you. You’ll be added to our Backer member list. Shipping is included.", pledgeAmount:"75", unitLeft:"64"},{radioName: "mahogany", type:"Mahogany Special Edition", description:"You get two Special Edition Mahogany stands, a Backer T-Shirt, and a personal thank you. You’ll be added to our Backer member list. Shipping is included.", pledgeAmount:"200", unitLeft:"0"}]

include ../mixins/pledge-form
.modal-overlay.modal--hide
  .modal-pledge.modal--hide(role="dialog" aria-modal="true" aria-labelledby="modal-pledge__title")
    header.modal-pledge__header
      h2.modal-pledge__title#modal-pledge__title Back this project
      button.modal-pledge__closebutton(type="button" aria-label="close modal")
        img.modal-pledge__closebutton-img(src="assets/images/icon-close-modal.svg" alt="")
    p.modal-pledge__description Want to support us in bringingMastercraft Bamboo Monitor Riser out in the world?
    form.pledge-form(action="post" name="reward")
      each option in pledgeOptions
        +pledge-form(option)
  .modal-success.modal--hide(role="dialog" aria-modal="true")
    img.modal-success__image(src="assets/images/icon-check.svg" alt="success ok")
    h2.modal-success__title Thanks for your support!
    p.modal-success__paragraph Your pledge brings us one step closer to sharing Mastercraft Bamboo Monitor Riser worldwide. You will get an email once our campaign is completed.
    button.modal-success__button.button--primary(type="button") Got it!