.main-content {
  position: relative;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  top: -55px;
  max-width: 724px;
  @media screen and (min-width: 768px) {
    top: -92px;
  }
}

.heading,
.stats,
.article {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 1.8em;
  padding: 2.3em 1.5em;
  @media screen and (min-width: 768px) {
    padding: 2.9em 2.5em;
  }
}

.heading__button,
.model__get {
  padding: 0;
}

.button--primary {
  color: white;
  background-color: var(--Moderate-cyan);
  font-weight: 700;
  padding: 1.2em 0;
  width: 100%;
  max-width: 218px;
  border-radius: 1.7em;
  @media screen and (min-width: 1024px) {
    &:hover {
      background-color: var(--Dark-cyan);
    }
  }
}

.button--bookmark {
  border-radius: 28px;
  background-color: var(--Light-gray);
  font-weight: 500;
  position: relative;
  @media screen and (max-width: 767px) {
    overflow: hidden;
    width: 56px;
    height: 56px;
  }
  &-pressed {
    color: var(--Dark-cyan);
    &::after {
      display: block;
      position: absolute;
      content: "";
      border-radius: 50%;
      width: 56px;
      height: 56px;
      top: 0;
      left: 0;
      background-color: var(--Moderate-cyan);
      opacity: 0.7;
    }
  }
}

.button--disabled {
  background-color: var(--Dark-gray);
  &:hover {
    cursor: default;
    background-color: var(--Dark-gray);
  }
}

.heading {
  text-align: center;
  &__img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }
  &__title {
    font-size: 1.27rem;
    margin-bottom: 1em;
    padding: 0 0.2em;
    @media screen and (min-width: 768px) {
      font-size: 1.75rem;
      margin-top: 0.3em;
      margin-bottom: 0.5em;
    }
  }
  &__subtitle {
    font-size: 0.8rem;
    color: var(--Dark-gray);
    line-height: 1.8;
    margin-bottom: 1.8em;
    @media screen and (min-width: 768px) {
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 2.2em;
    }
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
  }
  &__icon-bookmark {
    vertical-align: middle;
  }
  &__button-text {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.stats {
  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 290px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 7em;
      height: auto;
    }
  }
  &__number {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    @media screen and (min-width: 768px) {
      &--bars {
        padding-right: 1.4em;
      }
    }

    &--bars::before,
    &--bars::after {
      content: "";
      position: absolute;
      @media screen and (max-width: 767px) {
        width: 25%;
        border-top: 1px solid var(--Dark-gray);
        left: 50%;
        transform: translateX(-50%);
      }
      @media screen and (min-width: 768px) {
        width: 0;
        height: 100%;
        border-left: 1px solid var(--Dark-gray);
      }
    }
    &--bars::before {
      top: -25px;
      @media screen and (min-width: 768px) {
        top: 0;
        left: -1.7em;
      }
    }
    &--bars::after {
      bottom: -25px;
      @media screen and (min-width: 768px) {
        top: 0;
        right: -1.7em;
      }
    }
  }

  &__description {
    display: block;
    color: var(--Dark-gray);
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.8em;
  }
  &__bar {
    position: relative;
    height: 12px;
    border-radius: 6px;
    background-color: var(--Light-gray);
    margin-top: 2em;
    @media screen and (min-width: 768px) {
      margin-top: 2.35em;
    }
    margin-left: auto;
    margin-right: auto;

    &::after {
      content: "";
      position: absolute;
      height: 12px;
      border-radius: 6px;
      width: var(--Bar-percentaje);
      background-color: var(--Moderate-cyan);
      left: 0;
    }
  }
}

.article__description,
.model__description {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--Dark-gray);
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.article {
  padding-bottom: 1em;
  &__title {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  @media screen and (min-width: 768px) {
    &__title {
      font-size: 1.3rem;
      margin-bottom: 1.7em;
    }
    &__description {
      font-size: 1.06rem;
      line-height: 1.8;
      margin-bottom: 1.7em;
    }
    &__description:last-of-type {
      margin-bottom: 0.7em;
    }
  }
}

.model {
  border: 1px solid var(--Moderate-gray);
  border-radius: 8px;
  padding: 1.5em;
  margin-bottom: 1.5em;
  @media screen and (min-width: 768px) {
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-bottom: 1.6em;
  }

  &__title,
  &__price {
    font-size: 0.85rem;
  }
  &__title {
    margin: 0;
  }

  &__price {
    color: var(--Moderate-cyan);
    font-weight: 700;
    margin-bottom: 1.8em;
  }

  @media screen and (min-width: 768px) {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.4em;
      margin-bottom: 1.6em;
    }
    &__title {
      font-size: 1.15rem;
    }
    &__price {
      margin: 0;
    }
    &__description {
      font-size: 1rem;
      line-height: 1.9;
    }
  }

  &__footer,
  &__left {
    display: flex;
  }

  &__footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__left {
    align-items: center;
    gap: 0.6rem;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    &-text {
      color: var(--Dark-gray);
      font-size: 1rem;
      font-weight: 400;
    }
  }
  &__get {
    padding: 1.12em 0;
    font-size: 0.9rem;
    border-radius: 1.6em;
    max-width: 160px;
  }

  &--disabled {
    opacity: 0.7;
  }
}
