.header {
  background-image: url("../assets/images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vw;
  padding-top: 2.1em;
  @media screen and (min-width: 1024px) {
    background-image: url("../assets/images/image-hero-desktop.jpg");
    height: 28vw;
    background-size: contain;
    padding-top: 2.2em;
  }
}

.main-nav {
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &--show {
    z-index: 3;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 10em;
  }
}

.button-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
